nav {
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* background-color: grey; */
  /* background-color: #333;  */
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  /* background-color: gray; */
}
.nav-profile {
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid black;
  /* margin-right: 10px;  */
}

/* header .sign-up-btn {
  border: 1px solid #61dafb;
  color: #61dafb;
}

header .sign-in-btn {
  background-color: gray;
  border: 2px solid gray;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
header .sign-in-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.4s ease-in-out;
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: auto;
  cursor: pointer;
}

.logo {
  /* background-color: black;
  color: white;
  padding: 1px;
  border-radius: 10px; */
  align-items: center;
  /* padding-left: 20px; */
  /* background-color: aqua; */
}
.logo-img {
  /* background-color: aqua; */
  /* padding-right: 0;
  margin-right: 0; */
  padding-top: 0px;
}
.logo-text1 {
  /* background-color: magenta; */

  margin-right: -19px;
}
.logo-text2 {
  margin-left: -19px;
}

.nav-items {
  padding-right: 10px;
}

.nav-item{
  /* color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 10px;
  padding-bottom: 7px;
  border: 2px solid black;
  border-radius: 7px; */
  /* background-color: aqua; */
  font-weight: bold;
  font-size: medium;
  /* padding-top: -100px; */
  /* align-items: center;
  text-align: center;
  justify-content: center; */

  /* padding: 7px 14px 8px 10px; */
  border-radius: 5px;
  /* background-color: #0074d9;
  color: white; */
  
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.nav-item:hover{
  /* text-decoration: none;
  background-color: #0074d9d6; */

  /* color: white;
  background-color: black; */
}

.nav-btn{
  font-weight: bold;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0074d9;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: -19px;
  transition: 5ms ;
}

.nav-btn:hover{
  background-color: #0074d9d6;
  /* color: black; */
}