.folder-cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
}

.drive-card {
  /* color: black; */
  /* font-weight: bold; */
  background-color: #f2f6fc;
  width: 100px;
  /* height: 26px;
  line-height: 30px; */
  padding: 10px 10px;
  margin: 10px;
  /* margin: 10px 20p; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  /* Truncate text with ellipsis */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
