/* UrlTable.css */
.container {
  width: 80vw;
  /* background-color: aqua; */
  margin: auto;
  /* padding: auto; */
  padding: auto;
}

.url-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: antiquewhite; */
  justify-content: space-evenly;
}


